---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Olá, e bem-vindo(a) ao meu espaço!</h1>
			<p>Sou Lucas Beneti, um Engenheiro de Software especializado em frontend. Aqui, você vai encontrar um pouco de tudo que tenho aprendido e construído nos meus projetos pessoais.</p>
			<p>Este blog nasceu da minha paixão por aprender e da necessidade de ter um lugar para centralizar todo esse conhecimento. É o meu "caderno de anotações" digital, onde organizo ideias e soluções para que eu possa consultá-las sempre que precisar. E, também utilizo ele para aprimorar minhas habilidades de escrita, com o objetivo de tornar a comunicação de assuntos complexos algo mais simples e direto.</p>
			<p>Apesar do meu foco principal ser o frontend, minha curiosidade me leva a explorar diversas áreas. Eventualmente podem aparecer posts sobre Web 3, aprofundamentos em tópicos como APIs não muito comuns do navegador e até sobre 3D com ThreeJS. Também gosto de falar sobre projetos que fiz, sem muita motivação para serem lançados e ganhar um dinheiro extra, mas apenas para entender como um produto X funcionaria.</p>
			<p>Meus links são os seguintes:</p>
			<ul>
				<li><a href="https://github.com/lucasbeneti" target="_blank">GitHub</a></li>
				<li><a href="www.linkedin.com/in/lucas-beneti-a793ba152" target="_blank">LinkedIn</a></li>
			</ul>
			<p>Boa leitura!</p>
		</main>
		<Footer />
	</body>
</html>
